.job-details-container {
  background-color: #272727;
  padding: 15px;
  border-radius: 10px;
}

.list-item {
  list-style-type: none;
  background-color: #272727;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.link-item {
  text-decoration: none;
}

.similar-company-details-logo-title-container {
  display: flex;
}

.similar-company-details-logo {
  height: 70px;
  width: 70px;
}

.similar-job-details-title-rating-container {
  margin-left: 10px;
  margin-top: 0px;
}

.similar-job-details-title {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.similar-job-details-rating-container {
  display: flex;
  align-items: center;
}

.similar-job-details-ratings-star-icon {
  color: #fbbf24;
  font-size: 22px;
  margin-right: 5px;
}

.similar-job-details-rating {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
}

.similar-job-description-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
}

.similar-job-description {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}

.similar-job-type-location-container {
  display: flex;
}

.similar-job-location-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.similar-job-location-icon {
  color: #ffffff;
  margin-right: 10px;
}

.similar-job-location {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}

.similar-job-type-container {
  display: flex;
  align-items: center;
}

.similar-job-type-icon {
  color: #ffffff;
  margin-right: 10px;
}

.similar-job-employment-type {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 768px) {
  .list-item {
    width: 40%;
  }
}
